@value makerLightGrey, makerGrey, makerYellow from '/src/common/color.css';
.login {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.title {
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 20rem;
}

.input {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1.5px solid makerLightGrey;
  font-size: 1rem;
  color: makerGrey;
  border-radius: 5px;
}

.input:hover {
  border-color: makerYellow;
}

.forgetPW {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.social_title {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 14px;
  margin: 1.2rem 0;
}

.social_title::before,
.social_title::after {
  content: "";
  flex-grow: 1;
  background: makerLightGrey;
  height: 1.3px;
  font-size: 0px;
  line-height: 0px;
}

.social_title::before {
  margin-right: 1rem;
}
.social_title::after {
  margin-left: 1rem;
}

.social_login {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  background-color: white;
  cursor: pointer;
}

.social_icon {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid makerLightGrey;
  padding: 0.5rem;
}
