.login {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    width: 100%;
    margin-top: 10px;
  }
  .forgotPW {
    margin-top: 10px;
    color: #2699fb;
  }

  .btnLogin {
    margin-top: 30px;
    background-color: $yellow;
  }

  .anotherAccount {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .login-line {
      margin: 0 5px 0 5px;
      width: 100px;
      border-bottom: 2px solid rgba(139, 231, 19, 0.65);
    }
  }

  .accounts {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .btnAccount {
      width: 50%;
      box-shadow: none;
      border: 2px solid #eaeaea;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      margin: 10px;
    }
    .accountIcon {
      margin-right: 15px;
    }
  }
}
