.mypage {
  margin-top: 30px;
  display: flex;
  align-items: center;
  .mypage-left {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    .book-title {
      padding: 10px 20px 10px 20px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .book-paper {
      margin-bottom: 30px;
      width: 300px;
    }
  }
  .mypage-right {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    .profile-title {
      font-weight: 500;
      margin-left: 10px;
      width: 370px;
      padding-bottom: 10px;
      border-radius: 2px;
      border-bottom: 4.5px double $yellow;
    }
    .profile-container {
      display: flex;
      justify-content: flex-start;
      margin: 10px 0 20px 0;
      margin-bottom: 50px;
      .profile-paper {
        width: 370px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        .profile {
          width: 80px;
          height: 80px;
        }
        .badge {
          width: 60px;
          height: 60px;
        }
        .profile-name {
          margin-left: 20px;
          font-weight: 400;
          .name {
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
        .badge-name {
          margin-top: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
