.useredit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .edit-title {
    margin: 15px;
    font-weight: 800;
  }
  .profile-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .avatar {
      width: 80px;
      height: 80px;
    }
    .name {
      margin-left: 50px;
    }
  }
  .form {
    width: 35%;
    margin-top: 15px;
  }

  .submit {
    width: 40%;
    margin-top: 30px;
    background-color: $yellow;
  }
}
