@value makerYellow,makerLightGreen,makerBlack,makerGrey from "../../common/color.css";

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}
.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1.5rem;
}

.leftTitle {
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profileSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 10rem;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.rightTitle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.badgeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 10rem;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.profileBtn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: makerYellow;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
}
