.booklist {
  width: 100%;
  .bookCard {
    margin-top: 20px;
    .bookcard-paper {
      width: 230px;
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      .image {
        width: 60%;
        height: 80%;
        display: flex;
        justify-content: center;
      }
      .binfo-typo {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
