.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  .home-search {
    width: 500px;
    display: flex;
    align-items: center;
    border:3px solid #fdd45a;
    border-radius: 10;
    float:right;
    .search-input {
      margin-left: 15px;
    }
    .search-icon {
      background-color: #fdd45a;
      margin-left: auto;
    }
  }
}
