@value mainColor,mainTrans from "../../common/color.css";

.container {
}

.container:hover {
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: mainTrans;
  margin-bottom: 1rem;
}

.title {
  font-family: "CookieRun";
}
