@value makerYellow,makerLightGreen,makerBlack,makerGrey from "../../common/color.css";

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 2px #000808;
}
.logo {
  display: flex;
  align-items: center;
}
.logolink {
  text-decoration: none;
}

.logoImg {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.logoTitle {
  text-decoration: none;
}

.logoTitle.yello {
  color: makerYellow;
}
.logoTitle.green {
  color: makerLightGreen;
}
.menu {
  display: flex;
  list-style: none;
}

.item {
  margin-right: 0.8rem;
  text-decoration: none;
  color: makerBlack;
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  list-style: none;
  margin: 0.5em;
}

.userName {
  position: absolute;
  left: -6rem;
  top: 0.9rem;
  font-size: 0.8rem;
}
