@value subColor,subPointColor,mainColor,mainPointColor,makerGrey,makerLightGrey from "../../../common/color.css";

.container {
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
}

.day {
  color: makerGrey;
  margin-left: 0.1rem;
  font-size: 0.8rem;
  font-family: "CookieRun";
}

.thumbnail {
  margin-left: 0.2rem;
  width: 90%;
}

.sun {
  color: #ff5f5f;
}
.sat {
  color: #4f9dff;
}
.notDay {
  color: makerLightGrey;
}
