@value makerYellow from "../../common/color.css";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 3rem;
  height: 0.3rem;
  background-color: makerYellow;
}

.detail {
  display: flex;
  margin: 3rem;
}

.thumbnail {
  width: 10rem;
  height: 15rem;
  margin-right: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.maker_list {
  display: flex;
  padding: 0;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.author {
  display: flex;
  padding-right: 2rem;
  margin-right: 2rem;
}
.author_title {
  margin-right: 1rem;
}

.author_name {
  margin-top: 0.1rem;
}

.content_title {
  margin-bottom: 1rem;
}
.content {
  line-height: 2em;
}
