@value makerLightGrey,makerLightPurple from "../../../common/color.css";

.container {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 1rem;
  border: 3px solid makerLightPurple;
}

.input {
  border: 0;
  padding-right: 4rem;
  padding-left: 1.5rem;
  border-radius: 1rem 0 0 1rem;
  font-size: 1rem;
}

.input:focus {
  outline: 0;
}

.button {
  width: 4rem;
  padding: 0.2rem;
}
.buttonImg {
  width: 2rem;
}
